<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <button type="button" th:attr="data-id=${roleId}" class="btn btn-primary">保存</button>
                </div>
                <div class="box-body">
                    <div id="menuTree"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="console/footer"></div>
<script type="text/javascript" src="/static/js/treeview.js"></script>
<script type="text/javascript">
(function () {
    getMenuTree();
    $("button.btn-primary").on('click', function () {
        var _roleId = $(this).data('id');
        var checkNodes = [];
        var nodes = $('#menuTree').treeview('getChecked');
        nodes.forEach(function(node, index, arr){
            checkNodes.push(node.id);
        })
        $.post('/console/role/grant',{roleId: _roleId , menuIds: checkNodes.join(',')},function
            (data) {
            if(data.status == 1){
                layer.msg(data.msg, {icon: 1}, function () {
                    layerModel.closeParent();
                });
            }else{
                layer.msg(data.msg);
            }
        })
    });

})();
function getMenuTree() {
    var _roleId = $("button.btn-primary").data('id');
    $.getJSON('/console/role/menutree', {id:_roleId}, function (data) {
        if(data.status == 1){
            $('#menuTree').treeview({
                data : data.result,
                showIcon: false,
                highlightSelected:false,
                showCheckbox: true,
                onNodeChecked : nodeChecked ,
                onNodeUnchecked : nodeUnchecked
            });

            //$('#menuTree').treeview('expandAll',{levels:2,silent:true });
        }
    })

}
</script>
</body>
</html>