<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content-header">
    <h1>用户列表</h1>
</section>
<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div id="toolbar">
    <a href="javascript:createUser()" class="btn btn-primary">添加用户</a>
</div>
<div th:include="console/footer"></div>
</body>
<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();
    });
    function initDataGrid(){
        $table.bootstrapTable({
            height : tableModel.getHeight(),
            idField : "uid",
            columns : [[
                {title: "用户名", field: "username" },
                {title: "角色", field: "roleList", formatter : getRole},
                {title: "状态", field: "state",formatter : tableModel.getState},
                {title: "创建时间", field: "createdAt", sortable: true},
                {title: "更新日期", field: "updatedAt", sortable: true},
                {title: "操作", field: "operate", align: 'center', events: operateEvents, formatter: operateFormatter}
            ]],
            url : '/console/admin/list',
            queryParams: function(params){
                return params;
            },
            responseHandler : function (res) {
                return {
                    rows : res.result.pageInfo.list,
                    total : res.result.pageInfo.total
                }
            },
            search : true,
            searchOnEnterKey : true,
            sortName : 'createdAt',
            sortOrder : 'asc',
            pagination : true,
            sidePagination : 'server',
            pageSize: 10,
            pageList : [10,20, 40, 50, 100],
            toolbar : "#toolbar",
            showRefresh : true,
            showToggle : true
        });
    }

    function getRole(value,row,index) {
        if(row.isSystem == 1){
            return "超级管理（不受角色限制）"
        }else{
            return $.map(value,function (v) {
                return v.roleName;
            }).join(",");
        }

    }

    function operateFormatter(value, row, index) {
        if(row.isSystem == 0){
            return [
                /*'<a href="/console/admin/from?uid='+row.uid+'" >',
                '<i class="glyphicon glyphicon-edit"></i>修改',
                '</a>  ',*/
                '<a class="edit" href="javascript:void(0);">',
                '<i class="glyphicon glyphicon-edit"></i>修改',
                '</a>  ',
                '<a class="remove" href="javascript:void(0);">',
                '<i class="glyphicon glyphicon-remove"></i>删除',
                '</a>'
            ].join('');
        }
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {
            operaModel.delRow(row.uid, '/console/admin/delete', 'uid');
        },
        'click .edit' : function (e, value, row, index) {
            layer.open({
                type: 2,
                title: "用户修改",
                shadeClose: false,
                shade: 0.3,
                maxmin: true, //开启最大化最小化按钮
                area: ['500px', '500px'],
                content: '/console/admin/from.html?uid=' + row.uid
            });
        }
    };

    function createUser() {
        layer.open({
            type: 2,
            title: "用户新增",
            shadeClose: false,
            shade: 0.3,
            maxmin: true, //开启最大化最小化按钮
            area: ['500px', '500px'],
            content: '/console/admin/from.html'
        });
    }

</script>
</html>